html {
  overflow-y: unset;  
}

.v-application--is-rtl {
  @import "./rtl.scss";
}

.ltred {
  direction: ltr;
}

.rtled {
  direction: rtl;
}

.vts.v-snack > .v-snack__wrapper {
  align-self: flex-end;
  margin-left: auto;
  margin-right: auto;
}

// rtlize snackbar here because it is out of main app diretive
.v-application--is-rtl + script + .vts.v-snack .vts__message {
  margin-right: unset;
  margin-left: auto;
  font-family: iryekan;
  direction: rtl;
}
