html, body, .v-application {
  height: 100%;
}

.v-application--is-rtl {
  @import "./rtl.scss";
}

.ltred {
  direction: ltr;
}

.rtled {
  direction: rtl;
}

.vts__snackbar  {
  &.is-rtl .vts__snackbar__message {
    margin-right: unset;
    margin-left: auto;
    font-family: iryekan; // because it is out of main app diretive
    direction: rtl;
  }
  & > .v-snack__wrapper {
    align-self: flex-end;
    margin-left: auto;
    margin-right: auto;
  }
}
